* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--color-white);
}

figure {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo {
    width: 80px;
    height: 24px;
    flex-shrink: 0;
}

.btn {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 185px;
    height: 50px;
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: 400;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.btn:hover,
.btn:focus-visible {
    outline: 2px solid var(--color-green-dark);
    cursor: pointer;
}

.btn--signin {
    background-color: var(--color-white);
    color: var(--color-black);
}
